<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.mono2.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="true">
  
  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    
      <!-- add your targets here -->
      <target xsi:type="File"
              name="LogFile"
              fileName="${basedir}/Logs/${date:format=yyyy\-MM}/${date:format=yyyy\-MM\-dd}/Offbanks.Automation.log"
              layout="${date:format=HH\:mm\:ss.fff} | ${uppercase:${level}} | ${message} | ${onexception:EXCEPTION OCCURRED\:${exception:format=type,message,method:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}}"
              keepFileOpen="True" />   
  
 
  </targets>

  <rules>
    <!-- add your logging rules here -->
    <!-- minlevel from more to less details: Trace, Debug, Info, Warn e Error -->
    <logger name="*" minlevel="Trace" writeTo="LogFile"/>
    
  </rules>
</nlog>